@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rokkitt:wght@700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rokkitt", serif;
  margin-top: 0;
}
p {
  margin-top: 0;
  margin-bottom: 12px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 70px;
}
.header .layer {
  background-color: rgba(0, 0, 0, 0.5);
}
.header .logo-wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.header .logo-wrapper .logo {
  border: 5px solid #fff;
  padding: 15px;
  cursor: pointer;
  border-radius: 100%;
}
.header .logo-wrapper .logo .brand {
  font-size: 40px;
  color: #fff;
}
.header .header-text {
  padding-top: 100px;
  padding-bottom: 125px;
  text-align: center;
}
.header .header-text h1 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 35px;
}
@media only screen and (min-width: 768px) {
  .header .header-text h1 {
    font-size: 45px;
  }
}
.header .header-text p {
  font-size: 18px;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .header .header-text p {
    font-size: 24px;
  }
}
.recipeHeading {
  color: #ea3238;
  text-align: center;
  font-size: 45px;
  margin-bottom: 70px;
}
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.tabs .tablist {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .tabs .tablist {
    height: 70px;
    width: 120px;
  }
}
@media only screen and (min-width: 1024px) {
  .tabs .tablist {
    height: 120px;
  }
}
.tabs .tablist svg {
  font-size: 35px;
}
@media only screen and (min-width: 768px) {
  .tabs .tablist svg {
    font-size: 50px;
  }
}
.tabs .tablist span {
  font-size: 14px;
}
@media only screen and (min-width: 768px) {
  .tabs .tablist span {
    font-size: 18px;
  }
}
.tabs .tablist.active {
  background-color: #028c6a;
}
.tabs .tablist.active svg {
  color: #fff;
}
.tabs .tablist.active span {
  color: #fff;
}
.tabs .tablist.active::after {
  position: absolute;
  content: "";
  border-top: 15px solid #6fcb9f;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -15px;
}
@media only screen and (min-width: 768px) {
  .tabs .tablist.active::after {
    border-top: 20px solid #6fcb9f;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: -18px;
    z-index: -1;
  }
}
.recipe_banner {
  background-color: #028c6a;
  padding: 20px;
  color: #fff;
  display: flex;
  margin-bottom: 70px;
  flex-direction: column-reverse;
  border-radius: 20px;
}
@media only screen and (min-width: 768px) {
  .recipe_banner {
    flex-direction: row;
    padding: 60px 40px;
  }
}
@media only screen and (min-width: 768px) {
  .recipe_banner .left-col {
    width: 50%;
  }
}
.recipe_banner .left-col .badge {
  background-color: #ea3238;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 16px;
  display: inline-block;
}
.recipe_banner .left-col h1 {
  font-size: 45px;
  margin-bottom: 10px;
}
.recipe_banner .left-col p {
  font-size: 18px;
  margin-bottom: 10px;
}
.recipe_banner .left-col p strong {
  margin-right: 5px;
}
.recipe_banner .left-col h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.recipe_banner .left-col .ingredients {
  display: flex;
  gap: 100px;
}
.recipe_banner .left-col .ingredients ul {
  padding: 0;
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  margin-top: 10px;
  list-style: none;
}
.recipe_banner .left-col .ingredients ul li {
  display: flex;
  font-size: 18px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .recipe_banner .left-col .ingredients ul li {
    width: calc(50% - 20px);
    margin-bottom: 10px;
  }
}
.recipe_banner .left-col .ingredients ul li svg {
  font-size: 18px;
}
.recipe_banner .left-col .ingredients ul li span {
  width: calc(100% - 18px);
}
.recipe_banner .right-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .recipe_banner .right-col {
    padding-top: 50px;
    width: 50%;
  }
}
.recipe_banner .right-col .image-wrapper {
  width: 100%;
  height: 280px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .recipe_banner .right-col .image-wrapper {
    width: 350px;
    height: 350px;
  }
}
.recipe_banner .right-col .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .recipe_banner .right-col .image-wrapper img {
    border-radius: 100%;
  }
}
.heading-line {
  padding: 10px 0;
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
  color: #ea3238;
}
@media only screen and (min-width: 768px) {
  .heading-line {
    font-size: 45px;
  }
}
.heading-line .input-wrapper {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  margin: 0 auto;
}
.heading-line .input-wrapper input {
  width: 80%;
  height: 45px;
  outline: none;
  border-radius: 8px 0 0 8px;
  border: 1px solid #028c6a;
  font-size: 20px;
  padding: 5px 15px;
}
.heading-line .input-wrapper button {
  background-color: #028c6a;
  outline: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  border: none;
  font-size: 18px;
  width: 50px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
.flexbox {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 70px;
}
.flexbox .flexItem {
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
@media only screen and (min-width: 600px) {
  .flexbox .flexItem {
    width: calc(100% / 2 - 20px);
  }
}
@media only screen and (min-width: 1024px) {
  .flexbox .flexItem {
    width: calc(100% / 4 - 20px);
  }
}
.flexbox .flexItem .img-wrapper {
  margin-bottom: 10px;
}
.flexbox .flexItem .img-wrapper img {
  width: 100%;
}
.flexbox .flexItem p {
  color: #028c6a;
  font-weight: 450;
}
.loader {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
.loader .spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #6fcb9f;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
